.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    height: 100%;
    width: 100%;
    color: var(--white);
    font-size: 0.8rem;
}

.row {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.info div:last-child {
    color: var(--blue-lighter);
}

.CheckmarkIcon {
    color: var(--blue-lighter);
    font-size: 1.2rem;
}

.verticalLine {
    border-left: 2px solid var(--indigo-purple);
    height: 1.2rem;
}


.dicomInfo {
    display: flex;
    justify-content: space-between;
    color: var(--blue-lighter);

}

.dicomWindow {
    font-size: 0.9rem;
    display: flex;
    gap: 0.5rem;
}

.icon {
    cursor: pointer;
}