.container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
}

.back {
    font-size: 1.5rem;
    color: var(--moonstone-blue);
    flex: 1;
    background-color: var(--primary);
}

.back:hover {
    cursor: pointer;
    color: var(--white);
}

.info {
    display: flex;
    flex: 2;
    background-color: var(--primary);
    color: var(--moonstone-blue);
    font-size: 0.8rem;
}

.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: end;
    padding: 10px 5px 2px 5px;
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid #333;
    border-radius: 5px;
    height: 3rem;
}


.activeTab {
    background-color: var(--indigo-purple);
    color: var(--white);
}

.icon {
    font-size: 2rem;
}

.options {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 0.5rem;
    padding: 10px 0;
}

.date {
    color: var(--white);
}

.description {
    color: var(--moonstone-blue);
}

.measurementsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.measurements {
    flex: 20;
    background-color: var(--black);
    color: var(--white);
    font-size: 0.7rem;
    overflow-y: auto;
    height: 100%;
    max-height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.measurements::-webkit-scrollbar {
    display: none;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--indigo-purple);
    color: var(--white);
    padding: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
}

.measurementCover {
    display: flex;
}

.measurementIndex {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    cursor: pointer;
    background-color: var(--primary);
    flex: 1;
    padding: 10px;
    border-left: 3px solid transparent;
    margin-bottom: 5px;
    text-align: center;
    color: var(--blue-lighter);
    font-size: 1rem;
}

.measurementIndex .removeIcon {
    display: none;
}

.measurementIndex:hover .index {
    display: none;
}

.measurementIndex:hover .removeIcon {
    display: flex;
}

.measurementIndex:hover {
    background-color: var(--indigo-purple);
}

.measurementItem {
    flex: 7;
    padding: 10px;
    border-left: 3px solid transparent;
    cursor: pointer;
    margin-bottom: 5px;
}

.selected {
    background-color: var(--blue-lighter);
    border-radius: 5px 0 0 5px;
    color: var(--white);
}

.measurementHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.editButton {
    font-size: 1.2rem;
}

.measurementLabel {
    color: var(--blue-lighter);
    font-size: 0.8rem;
}

.reportButtons {
    display: flex;
    gap: 0.5rem;
    padding-top: 3rem;
}